[package]
name = "bookshelf-api"
version = "1.1.0"
edition = "2021"
default-run = "bookshelf-api"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-cors = "0.6.1"
actix-web = "4"
actix-web-httpauth = "0.6.0"
anyhow = { version = "1.0.56", features = ["backtrace"] }
async-graphql = { version = "3.0.35", features = ["dataloader"] }
async-graphql-actix-web = "3.0.35"
async-trait = "0.1.52"
awc = { version = "3.0.0", features = ["rustls"] }
derive_more = "0.99"
dotenv = "0.15.0"
env_logger = "0.9.0"
envy = "0.4.2"
futures-util = "0.3.21"
getset = "0.1.2"
jsonwebtoken = "8.0.1"
log = "0.4.14"
mockall = "0.11.0"
once_cell = "1.11.0"
regex = "1.5.6"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.79"
sqlx = { version = "0.5", features = [
  "runtime-actix-rustls",
  "postgres",
  "time",
  "uuid",
] }
thiserror = "1.0.30"
time = "0.2.27"
time-macros = "0.2.4"
tokio = { version = "1.13.1", features = ["full"] }
uuid = { version = "0.8.2", features = ["v4"] }
validator = { version = "0.14.0", features = ["derive"] }
